{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Редактор таблиц{% endblock %}</title>
    <link href="{% static 'tables/favicon.ico' %}" rel="icon">
    <link href="{% static 'tables/css/handsontable.min.css' %}" rel="stylesheet">
    <link href="{% static 'tables/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'tables/css/styles.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block body %}{% endblock %}
<script src="{% static 'tables/js/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'tables/js/bootstrap.min.js' %}"></script>
<script src="{% static 'tables/js/handsontable.full.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>