{% extends 'tables/base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Выберите таблицу для редактирования</h1>
                <ul>
                    {% for t in tables %}
                        <li><a href="{% url 'table' t.id %}">{{ t.name }}</a></li>
                    {% endfor %}
                </ul>
                <a class="btn btn-primary" href="{% url 'logout' %}">Выход из системы</a>
            </div>
        </div>
    </div>
{% endblock %}