{% extends 'tables/base.html' %}
{% load tables_custom_tags %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ table.name }}</h1>
                {% csrf_token %}
                <div id="table"></div>
                <a class="btn btn-primary" href="{% url 'index' %}">Главная страница</a>
                <button type="button" class="btn btn-primary" name="save">Сохранить</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        var originalRows = [{% for r in rows %}{{% for c in columns %}
            {{ c.identifier }}: '{{ r|get_value:c.identifier }}',{% endfor %}
            id: {{ r.id }}
        }{% if not forloop.last %}, {% endif %}{% endfor %}];

        var columnsData = [{% for c in columns %}{
            data: '{{ c.identifier }}'
        }, {% endfor %}{
            data: 'id'
        }];

        var rowsData = originalRows.map(function (originalRow) {
            var row = {};
            for (var key in originalRow) {
                row[key] = originalRow[key];
            }
            return row;
        });

        $(function () {
            var hot = new Handsontable(document.getElementById('table'), {
                data: rowsData,
                rowHeaders: false,
                colHeaders: [{% for c in columns %}
                    '{{ c.brief_name }}',{% endfor %}
                    'id'
                ],
                dropdownMenu: true,
                columns: columnsData,
                contextMenu: true
            });

            hot.addHook('afterRender', function (context) {
                $('table thead tr th:last-child').hide();
                $('table tbody tr td:last-child').hide();
            });

            $('table thead tr th:last-child').hide();
            $('table tbody tr td:last-child').hide();

            $('button[name=save]').click(function () {

                var rowsToDelete = [];
                var rowsToInsert = [];
                var rowsToUpdate = [];

                var originalRowIds = originalRows.map(function (originalRow) {
                    return originalRow.id;
                });

                // Текущие данные
                var currentRows = hot.getSourceData();
                var currentRowIds = currentRows.map(function (currentRow) {
                    return currentRow.id;
                });

                // Идентификаторы строк для добавления
                currentRows.forEach(function (currentRow) {
                    if (originalRowIds.indexOf(currentRow.id) === -1) {
                        var copy = {};
                        for (var key in currentRow) {
                            copy[key] = currentRow[key];
                        }
                        rowsToInsert.push(copy);
                    }
                });

                // Идентификаторы строк для удаления
                originalRows.forEach(function (originalRow) {
                    if (currentRowIds.indexOf(originalRow.id) === -1) {
                        rowsToDelete.push(originalRow.id);
                    }
                });

                // Идентификаторы строк для изменения
                currentRows.forEach(function (currentRow) {
                    originalRows.forEach(function (originalRow) {
                        if (currentRow.id === originalRow.id) {
                            for (var key in currentRow) {
                                if (currentRow[key] !== originalRow[key]) {
                                    rowsToUpdate.push(currentRow);
                                    break;
                                }
                            }
                        }
                    });
                });

                // Добавление
                rowsToInsert.forEach(function (new_row) {
                    $.ajax({
                        url: '{% url 'rows_api' table.id %}',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(new_row),
                        success: function(res) {
                            console.log('Data saved');
                        }
                    });
                });

                // Изменение
                rowsToUpdate.forEach(function (row) {
                    $.ajax({
                        url: '{% url 'rows_api' table.id %}' + row.id + '/',
                        method: 'PUT',
                        contentType: 'application/json',
                        data: JSON.stringify(row),
                        success: function(res) {
                            console.log('Data saved');
                        }
                    });
                });

                // Удаление
                rowsToDelete.forEach(function (id) {
                    $.ajax({
                        url: '{% url 'rows_api' table.id %}' + id + '/',
                        method: 'DELETE',
                        success: function(res) {
                            console.log('Data saved');
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}